.clients{
  display: flex;
  margin: 0;
}

.clients-box{
  width: 170px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
}

.clients-box:not(:last-child){
  margin-right: 30px;}

.clients-list{
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 16px 32px;
  list-style: none;
  transition: border var(--bezier-time);;
}
.clients-svg{
  fill: var(--icons-color);
  transition: fill var(--bezier-time);
}
.clients-list:hover,
.clients-list:focus{
  border: 1px solid var(--theme-color);
  
}
.clients-list:hover .clients-svg,
.clients-list:focus .clients-svg{
  fill: var(--theme-color); 
}