.header{
border-bottom: 1px solid #ECECEC;

}
.logo{
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 93px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.12;
  letter-spacing: 0.03em;    
  color: var(--theme-color);
  text-decoration: none;
}

.logo-icon{
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.12;
  letter-spacing: 0.03em;    
  color: #000000;
  text-decoration: none;
}

.logo-icon-color{
  margin-top: 0;
  margin-bottom: 20px;    
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.12;
  letter-spacing: 0.03em;    
  color: var(--primary-white-color);
  text-decoration: none;
}

.header-nav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
}

/* Навигация на другие страницы */


.nav{
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}
.nav-item:not(:last-child){
  margin-right: 50px;
}

.nav-pagination{
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: var(--text-primary);
  letter-spacing: 0.02em;
  transition: color var(--bezier-time);
 
}
.nav-pagination:hover,
.nav-pagination:focus{
  color: var(--theme-color);
     
}
.activ{
  color: var(--theme-color);
  transition: color var(--bezier-time);
}
.activ::before{
  content: "";
  position: absolute;
  bottom: 0;
  background-color: var(--theme-color);
  border-radius: 2px;
  height: 4px;
  display: inline-block;
  width: 100%;
}

/* Ссылка на вебсайт,телефонный номер */


.nav-box{
  display: flex;
  align-items: center;
  margin-left: auto;

}

.nav-all{
  display: flex;
  align-items: center;
  margin-right: 30px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: var(--text-secondary);
  letter-spacing: 0.02em;
  transition: color var(--bezier-time);
}
.nav-all:hover,
.nav-all:focus{
  color: var(--theme-color);
}
 

.svg-list{
  fill: var(--text-secondary);
  margin-right: 10px;
  transition: fill var(--bezier-time);
}

.svg-list:hover,
.svg-list:focus{
  fill: var(--theme-color);
}
.nav-all:hover .svg-list,
.nav-all:focus .svg-list{
  fill: var(--theme-color);
  transition: fill var(--bezier-time);
}
.nav-all-phone{
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: var(--text-secondary);
  letter-spacing: 0.02em;
  transition: color var(--bezier-time);
}

.nav-all-phone:hover,
.nav-all-phone:focus{
  color: var(--theme-color);   
}
.nav-all-phone:hover .svg-list,
.nav-all-phone:focus .svg-list{
  fill: var(--theme-color);
  transition: fill var(--bezier-time);
}